{# admin/templates/representative_roles/new.html #}

{% extends './layouts/admin_dashboard.html' %}

{% block extra_css %}

{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content %}
<main class="main-content">
  <div class="container-fluid">

    <h3 class="mb-4">
      <a href="/admin/master-data">
        <i class="fa fa-cc-mastercard me-2"></i>
        Gestión de Datos Maestros
      </a>
      /
      <a href="/admin/representative-roles">
        Roles de Representante
      </a>
      /
      Crear Rol de Representante
    </h3>

    {# Flash messages #}
    {% include './partials/flash_messages.html' %}

    <div class="card mb-4">

      <div class="card-header">
        <h6 class="mb-0">
          <i class="fa fa-plus me-2"></i>
          Nuevo Rol de Representante
        </h6>
      </div>

      <div class="card-body">

        <form
          action="/admin/representative-roles"
          method="POST"
          class="row g-3">

          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

          <div class="col-md-4">
            <label
              for="name"
              class="form-label">

              Nombre
            </label>

            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              maxlength="20"
              required>
          </div>

          <div class="col-12 mt-4">

            <button
              type="submit"
              class="btn btn-success">

              <i class="fa fa-save me-2"></i>
              Guardar
            </button>

            <a
              href="/admin/representative-roles"
              class="btn btn-warning ms-2">

              <i class="fa fa-times me-2"></i>
              Cancelar
            </a>

          </div>

        </form>

      </div>

    </div>

  </div>
</main>
{% endblock %}