{# admin/templates/admin_index.html #}

{# admin/templates/admin_index.html #}
{% extends './layouts/admin_dashboard.html' %}

{% block extra_css %}

{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content %}

<main class="main-content">
  <div class="container-fluid">
    <h3 class="mb-4">
      <i class="fa fa-cc-mastercard me-2"></i>Gestión de Datos Maestros
    </h3>

    <div class="card mb-4">
      <div class="card-header">
        <h6 class="mb-0">
          <i class="fa fa-list me-2"></i>
          Datos Maestros
        </h6>
      </div>
      <div class="card-body">
        <ul>
          <li>Para la Gestión de Marcas y Modelos de Máquinas <a href="/admin/brands">Aquí</a></li>
          <li>Para la Gestión de Marcas de Lubricantes haga click <a href="/admin/oil-brands">Aquí</a></li>
          <li>Para la Gestión de Tipos de Lubricantes haga click <a href="/admin/oil-types">Aquí</a></li>
          <li>Para la Gestión de Lubricantes haga click <a href="/admin/oils">Aquí</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>

{% endblock %}