{# admin/templates/workers/new.html #}
{% extends './layouts/admin_dashboard.html' %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content %}

<main class="main-content">
  <div class="container-fluid">

    <h3 class="mb-4">
      <a href="/admin/workers">
        <i class="fa fa-users me-2"></i>
        Gestión de Trabajadores
      </a>
      /
      Nuevo Trabajador
    </h3>

    {% include 'partials/flash_messages.html' %}

    <!-- ========================= -->
    <!-- DATOS PERSONALES -->
    <!-- ========================= -->

    {% include 'partials/_person.html' %}

    <!-- ========================= -->
    <!-- BOTÓN CANCELAR AL FINAL -->
    <!-- ========================= -->
    <div class="mt-3 text-end">
      
      <a
        href="/admin/workers"
        class="btn btn-warning">

        <i class="fa fa-times me-2"></i>
        Cancelar

      </a>
    </div>

    </div>
    </main>

    <select
              name="document_type_id"
              class="form-select"
              required>

              <option value="">Seleccione...</option>

              {% for item in document_types %}
              <option value="{{ item.id }}">
                {{ item.name }}
              </option>
              {% endfor %}

            </select>
{% endblock %}